[submodule "ml4docs-automation"]
	path = ml4docs-automation
	url = git@github.com:pscedu/ml4docs-automation.git
[submodule "shuffler"]
	path = shuffler
	url = git@github.com:kukuruza/shuffler.git
[submodule "OpenLongTailRecognition-OLTR"]
	path = OpenLongTailRecognition-OLTR
	url = git@github.com:pscedu/OpenLongTailRecognition-OLTR.git
[submodule "yolov5"]
	path = yolov5
	url = git@github.com:kukuruza/yolov5.git
[submodule "PolygonObjectDetection"]
	path = PolygonObjectDetection
	url = git@github.com:kukuruza/PolygonObjectDetection.git

[submodule "pel"]
	path = pel
	url = git@github.com:kukuruza/PEL.git
