<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <title>LabelMe Navigation</title>
    </head>
    <body>

        <div class="container-fluid">
            <nav class="navbar navbar-dark bg-dark">
                <span class="navbar-brand">
                    ML Stamps - LabelMe Navigator
                </span>
            </nav>

            <div class="row">
                <div class="col">
                    <h1>Campaign 1</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Stamps To-do ({{ pending_stamps_count }})</h3>
                    <ul>
                        {% for image in pending_stamps %}
                            <li>
                                <a href="{{ default_domain }}tool.html?collection=LabelMe&mode=f&folder={{ folder_name }}&image={{ image.image_file }}.jpg">{{ image.image_file }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    <h3>Stamps DONE ({{ labeled_stamps_count }})</h3>
                    <ul>
                        {% for image in labeled_stamps %}
                            <li>
                                <a href="{{ default_domain }}tool.html?collection=LabelMe&mode=f&folder={{ folder_name }}&image={{ image.image_file }}.jpg">{{ image.image_file }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Pages To-do ({{ pending_pages_count }})</h3>
                    <ul>
                        {% for image in pending_pages %}
                            <li>
                                <a href="{{ default_domain }}tool.html?collection=LabelMe&mode=f&folder={{ folder_name }}&image={{ image.image_file }}.jpg">{{ image.image_file }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    <h3>Pages DONE ({{ labeled_pages_count }})</h3>
                    <ul>
                        {% for image in labeled_pages %}
                            <li>
                                <a href="{{ default_domain }}tool.html?collection=LabelMe&mode=f&folder={{ folder_name }}&image={{ image.image_file }}.jpg">{{ image.image_file }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>