<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
        <meta charset="UTF-8">
        <title>LabelMe Navigation</title>
    </head>
    <body>
        <h2>ML Stamps - LabelMe Navigator</h2>
        <h2>Campaign 1</h2>
        <h3>Stamps To-do ({{ total_count }})</h3>
        <ul>
            {% for image in images %}
                <li>
                    <a href="{{ default_domain }}tool.html?collection=LabelMe&mode=f&folder={{ folder_name }}&image={{ image.name }}.jpg">{{ image.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8"
                src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                $('#table_id').DataTable({
                    columnDefs: [
                        {
                            targets: "_all",
                            className: 'dt-body-center'
                        }
                    ]
                });
            });
        </script>
    </body>
</html>